* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e2e5e8c5;

}


header {
    font-size:medium;
    background:#223850;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 50px;
}

header span {
    color: #ea74b5;
    font-size:x-large;
}


nav {
    background:#2e445c;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: auto;
    padding:50px;

}

nav a {
    color: white;
    padding: 15px 15px;
    text-decoration: #ea74b5;
}

nav a:hover {
    color: #f081be;
}


main {
    padding: 30px;
    text-align: center;
    margin: 30px;
    height: 600px;
}


section h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ed7fbb;
}

section h6 {
    text-align: center;
    color: rgb(102, 107, 129);
    margin-bottom: 5px;
}


fieldset {
    max-width: 1000px;
    max-height: 900px;
    margin: 40px auto;  
    padding: 40px;
    background: white;
    border-radius: 10px;
    border: 1px solid #e3e0e0;
    
}
legend {
    font-size: 30px;
    color: #394d61;
    text-align: left;
}


table {
    width: 100%;
    height: 100%;
}


thead td {
    background-color: #34506b;
    color: white;
    font-weight: bolder;
}


td {
    padding: 15px ;
    border: 1.75px solid #ddd ;
    text-align: center;
}
 

tbody tr:hover {
    background-color: #f3e8f1;
}

.progress {
    background-color: #e791cb  ;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
}

.completed {
    background-color: #6f749d;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
}


footer {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    background: #2d4255;
    color: white;
    text-align: center;
    padding: 20px;
}


@media (max-width: 1000px) {

    

    body {
        margin: 0;
    }

    
    }

    fieldset {
        width: 95%;
        margin: 10px auto;
        padding: 10px;
    }

    table {
        width: 100%;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    td, th {
        font-size: 12px;
        padding: 6px;
    }
    
    
